# ==========================================
# 1. IntelliJ IDEA
# ==========================================
.idea/
*.iml
*.iws
*.ipr
out/
.run/

# ==========================================
# 2. Maven
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ==========================================
# 3. Spring Boot & Application
# ==========================================
*.log
*.log.*
logs/


# ==========================================
# 4. Operating System & Editor
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.swp
*.swo
*~